/* standard style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variables */
/*  https://nasratt.github.io/frontendMentorSolutions/projects/todoList/ */
:root {
  --mainFontFamily: "Josefin Sans", arial, sans-serif;
  --varcolor: red;
}

.lnr {
  font-size: 40px;
}
