/* standard style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variables */
/*  https://nasratt.github.io/frontendMentorSolutions/projects/todoList/ */
.lnr {
  font-size: 40px;
}
