.content {
  width: $elementWidthSmallMobile;
  &__tasks-container {
    // position: relative;
    background-color: $elementsBGC;
    border: 2px solid $elementsBGC;
    border-radius: 5px;
    transition: 0.7s;
    &.bright {
      background-color: $brightElementsBGC;
      border-width: 1px;
      border-color: $brightElementsBorderColor;
    }
  }
  // &__title,
  // &__todo-info,
  // &__filter-container {
  //   max-height: 10vh;
  // }
  &__title {
    padding: 16px;
    text-align: center;
    /* background-color: #fff; */
    color: $brightFontColor;
    &.bright {
      color: $brightThemeFontColor;
    }
  }
  &__todo-list {
    list-style: none;
    color: $brightFontColor;
    &.bright {
      color: $brightThemeFontColor;
    }
    &-task {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      word-break: break-word;
      border-bottom: 1px solid $elementsBorderColor;
      padding: 10px 20px;
      font-size: 1.2em;
      &.bright {
        border-bottom-color: $brightElementsBorderColor;
      }
      &-checkbox {
        position: relative;
        margin-right: 15px;
        transition: 0.4s;
        &.bright::before {
          background-color: $brightElementsBGC;
          border-color: $brightElementsBorderColor;
        }
      }
      &-checkbox:hover::before {
        cursor: pointer;
        border-color: rgb(173, 23, 236);
      }
      &-checkbox::before {
        content: "";
        display: block;
        position: absolute;
        top: -30%;
        left: -25%;
        background-color: $elementsBGC;
        border: 1px solid $elementsBorderColor;
        border-radius: 50%;
        width: 140%;
        height: 140%;
      }
      &-checkbox::before .bright {
        background-color: $brightElementsBGC;
        border-color: $brightElementsBorderColor;
      }

      &-checkbox:checked::before {
        background: rgb(123, 212, 238);
        background: $checkBoxColorGradient;
      }
      &-text {
        position: relative;
        &.disabled {
          position: relative;
          color: $elementsFontColor;
        }
        &-cancel-line {
          display: none;
          &.active {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            height: 2px;
            width: 100%;
            transform: translateY(-50%);
            background-color: $elementsFontColor;
          }
        }
      }

      & .lnr-trash {
        margin-left: auto;
        cursor: pointer;
      }
      & .lnr-trash:hover {
        color: $elementsHoverColor;
      }
    }
  }

  &__todo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-top: 1px solid $elementsBorderColor;
    /* background-color: #fff; */
    color: $elementsFontColor;
    &.bright {
      border-top-color: $brightElementsBorderColor;
      color: $brightThemeFontColor;
    }
  }
  &__todo-counter {
    padding: 6px 20px;
  }
  &__todo-btn {
    color: $elementsFontColor;
    border: none;
    background-color: transparent;
    padding: 6px 20px;
    font-size: 1em;
    font-family: $mainFontFamily;
    &:hover {
      cursor: pointer;
      color: $elementsHoverColor;
    }
    &.bright {
      color: $brightThemeFontColor;
    }
    &.bright:hover {
      color: $brightElementsHoverColor;
    }
  }
  &__filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 12px;
    margin-top: 20px;
    border: 2px solid $elementsBGC;
    border-radius: 5px;
    background-color: $elementsBGC;
    transition: 0.7s;
    & .enabled {
      color: $elementsHoverColor;
      &.bright {
        color: $brightElementsHoverColor;
      }
    }
    &.bright {
      border-color: $brightElementsBorderColor;
      border-width: 1px;
      background-color: $brightElementsBGC;
    }
  }
}
/*mobile changes */
@media (min-width: 768px) {
  .content {
    width: $elementMinWindowWidth768px;
  }
}
@media (min-width: 992px) {
  .content {
    width: $elementMinWindowWidth992px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: $elementMinWindowWidth1200px;
  }
}
@media (min-width: 1400px) {
  .content {
    width: $elementMinWindowWidth1400px;
  }
}
