.content {
  width: $elementWidthSmallMobile;
  &__tasks-container {
    // position: relative;
    background-color: $elementsBGC;
    border: 2px solid $elementsBGC;
    border-radius: 5px;
  }
  // &__title,
  // &__todo-info,
  // &__filter-container {
  //   max-height: 10vh;
  // }
  &__title {
    padding: 16px;
    text-align: center;
    /* background-color: #fff; */
    color: $brightFontColor;
  }
  &__todo-list {
    margin: 0 20px 5px;
    list-style: none;
    color: $brightFontColor;
    &-task {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      font-size: 1.2em;
    }
  }
  &__todo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-top: 1px solid #393a4c;
    /* background-color: #fff; */
    color: $elementsFontColor;
  }
  &__todo-btn {
    color: $elementsFontColor;
    border: none;
    background-color: transparent;
    padding: 6px 20px;
    font-size: 1em;
    font-family: $mainFontFamily;
    &:hover {
      cursor: pointer;
      color: rgb(83, 83, 200);
    }
  }
  &__filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 16px 12px;
    margin-top: 20px;
    border: 2px solid $elementsBGC;
    border-radius: 5px;
    background-color: $elementsBGC;
  }
}
/*mobile changes */
@media (min-width: 768px) {
  .content {
    width: $elementMinWindowWidth768px;
  }
}
@media (min-width: 992px) {
  .content {
    width: $elementMinWindowWidth992px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: $elementMinWindowWidth1200px;
  }
}
@media (min-width: 1400px) {
  .content {
    width: $elementMinWindowWidth1400px;
  }
}
