.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: $elementWidthSmallMobile;
  padding: 36px 0;

  /* background-color: rgba(255, 0, 0, 0.4); */
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/bgc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: calc(#{$elementWidthSmallMobile} - 95vw);
    width: 100vw;
    height: 120%;
    z-index: -1;
  }
  &__title,
  & .lnr {
    color: white;
  }
  &__theme-icons-container {
    position: relative;
  }
  & .lnr {
    display: block;
    font-size: 2em;
    cursor: pointer;
    opacity: 1;
    transition: 0.7s;
    &--disabled {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      opacity: 0;
    }
  }
  & .lnr:before {
    transition: 4s;
  }
  &__form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    border: 2px solid $elementsBGC;
    border-radius: 5px;
    background-color: $elementsBGC;
    transition: 0.7s;
    &.bright {
      border-color: $brightElementsBorderColor;
      background-color: $brightElementsBGC;
    }
  }
  &__form-input,
  &__form-btn {
    font-family: $mainFontFamily;
    font-size: 1em;
    color: $brightFontColor;
    border: none;
    transition: 0.7s;
    &.bright {
      color: $brightThemeFontColor;
    }
  }
  &__form-input {
    flex-grow: 2;
    padding: 12px;
    background-color: transparent;

    /* Not turning off outline to have better accessibility for people with eye problems */
    &:focus {
      outline: rgba(208, 206, 206, 0.4) solid;
      outline-offset: -2px;
      border-radius: 3px;
      /* 5px radius from container - 2px width of border*/
      /* Think if not change it without :focus */
    }
  }
  &__form-btn {
    flex-grow: 1;
    background-color: $backgroundBGC;
    &:hover {
      cursor: pointer;
    }
    &.bright {
      background-color: $brightAddBtnColor;
    }
  }
}
/*mobile changes*/
@media (min-width: 768px) {
  .header {
    width: $elementMinWindowWidth768px;
    &::before {
      left: calc(#{$elementMinWindowWidth768px} - 85vw);
    }
  }
}
/* desktop changes*/
@media (min-width: 992px) {
  .header {
    width: $elementMinWindowWidth992px;
    &::before {
      left: calc(#{$elementMinWindowWidth992px} - 80vw);
    }
  }
}
@media (min-width: 1200px) {
  .header {
    width: $elementMinWindowWidth1200px;
    &::before {
      left: calc(#{$elementMinWindowWidth1200px} - 75vw);
    }
  }
}
@media (min-width: 1400px) {
  .header {
    width: $elementMinWindowWidth1400px;
    &::before {
      left: calc(#{$elementMinWindowWidth1400px} - 70vw);
    }
  }
}
