/*  project according to - https://nasratt.github.io/frontendMentorSolutions/projects/todoList/ */

// import styles for each section//
@import "variables";
@import "header";
@import "content";
@import "footer";

/* standard style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $mainFontFamily;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: $backgroundBGC;
  overflow: hidden;
  transition: 0.7s;
  &.bright {
    background-color: $brightBackgroundBGC;
  }
}

.header,
.content {
  z-index: 1;
}
